/* Custom CSS for your KeyDown presentation here */

/* Uncomment to turn off deck.js navigation */
.deck-prev-link, .deck-next-link {
    display: none;
}

/* Uncomment to turn off deck.js status */
/*.deck-status {*/
    /*display: none;*/
/*}*/

@font-face {
  font-family: 'Junction';
  src: url('../font/junction-webfont.eot?v=1.0');
  src: url('../font/junction-webfont.eot?#iefix&v=1.0') format('embedded-opentype'), url('../font/junction-webfont.woff?v=1.0') format('woff'), url('../font/junction-webfont.ttf?v=1.0') format('truetype'), url('../font/junction-webfont.svg#junctionregular?v=1.0') format('svg');
  font-weight: normal;
  font-style: normal;
}

.deck-container div .whom {
  font-size: 100px;
  color: #555;
  position: fixed;
  right: 0;
  bottom: 16px;
}

.dark {
  background-color: black;
  border: 5px;
}

.highlight {
  color: #eee;
}

.keydown.deck-container .slide {
  background-color: #111;
}

.keydown.deck-container h1,
.keydown.deck-container h2,
.keydown.deck-container h3,
.keydown.deck-container li {
  font-family: 'Junction';
  color: #fd337d;
}

/* neon.css overrides: */

.deck-container {
  font-family: 'Junction';
  color: #fd337d;
  background: #111;
}

.deck-container .slide {
  font-family: 'Junction';
  color: #fd337d;
  background: #111;
}

.deck-container h1,
.deck-container h2,
.deck-container h3 {
  font-family: 'Junction';
  color: #fd337d;
  text-shadow: none;
}

/* default.css overrides: */

.cm-s-default span.cm-keyword {color: #708;}
.cm-s-default span.cm-atom {color: #219;}
.cm-s-default span.cm-number {color: #F92672; } /* #164 */
.cm-s-default span.cm-def {color: #00f;}
.cm-s-default span.cm-variable {color: #eee;}
.cm-s-default span.cm-variable-2 {color: #05a;}
.cm-s-default span.cm-variable-3 {color: #0a5;}
.cm-s-default span.cm-property {color: #eee;}
.cm-s-default span.cm-operator {color: #eee;}
.cm-s-default span.cm-comment {color: #a50;}
.cm-s-default span.cm-string {color: #a11;}
.cm-s-default span.cm-string-2 {color: #f50;}
.cm-s-default span.cm-meta {color: #555;}
.cm-s-default span.cm-error {color: #f00;}
.cm-s-default span.cm-qualifier {color: #555;}
.cm-s-default span.cm-builtin {color: #30a;}
.cm-s-default span.cm-bracket {color: #cc7;}
.cm-s-default span.cm-tag {color: #AE81FF; } /* #170 */
.cm-s-default span.cm-attribute {color: #00c;}

.cm-s-default span.cm-null { color: #eee; }

table#owns {
  margin-left: 30px;
}

table#owns th {
  text-align: left;
  padding: 10px 10px 10px 5px;
}

table#owns td {
  color: black;
  padding: 10px 10px 10px 5px;
}

table#owns td:nth-of-type(2) {
  float: right;
}

table#owns td:nth-of-type(2):after {
  content: "%";
}

/* this is to fix the weird 34% auto-scale from keydown: */
body {
  -webkit-transform: none !important;
}

.deck-prev-link, .deck-next-link {
  display: none;
}
